doctype html
html(lang="en")
  head
    block styles
      style 
        include ../public/styles.css
	
    title= "Rowan Interactive Map"
  body
  h1 Rowan Interactive Map
  
    block content

  block footer
   
      a(href='/') Home
      |
      |
      a(href='/search') Search
      |
      |
      a(href='/insert') Insert 

