extends layout 
block content 
    h3 Please Login Below 
    form(methods="POST")
        |Name:
        |
        input(name="userName")
        br
        |Password:
        input(name="pass")
        br
        br
        input(type="submit" value="Login")
    br
    br
    br 