<html>
<head>
	
	<title>Rowan Map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>


	
</head>
<body>



<div id="mapid" style="width: 1500px; height: 900px;"></div>
<script>

	var mymap = L.map('mapid').setView([39.709, -75.118], 15);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYW50aG9ueW1qZCIsImEiOiJja253bGl1bjAwaWZ5MnVxempidHc0NDY0In0.O6hNaEhFCyhMB6TG5nP8Gw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

    L.marker([39.7097, -75.1207]).addTo(mymap)
        .bindPopup("<b>Science Hall</b> <ul><li>Offers over 50 academic programs</li> <li>Five National Science Foundation CAREER Awards</li> <li>Features <ul><li>The Edelman Planetarium</li> <li>A rooftop observatory with a 16-inch telescope</li> <li>27 teaching laboratories <li>22 research labs</li></ul> <li>Departments</li> <ul><li>Chemistry</li> <li>Biochemistry</li><li>Biological Sciences</li> <li>Molecular & Cellular Biosciences</li><li>Physics<li>Astronomy</li> </ul>").openPopup();

    L.marker([39.7093, -75.1198]).addTo(mymap)
        .bindPopup("<b>Savitz Hall</b><br />Admissions").openPopup();
    
    L.marker([39.7090, -75.1191]).addTo(mymap)
        .bindPopup("<b>Cambell Library</b> <ul> <li>Home to nearly 400,000 books and multimedia</li> <li>Has a selective Government Documents Depository</li> <li>Contains Rowan University Archives, Special Collections, and the RCA Heritage Museum</li> <li>Has a Writing Center that is housed on the first floor</li> <li>Departments</li><ul><li>Sociology and Anthropology</li> <li>Law and Justice</li> </ul>").openPopup();
    
    L.marker([39.7106, -75.1186]).addTo(mymap)
        .bindPopup("<b>Esbjornson Gym</b><ul><li>Newly renovated 20,000+ sq. ft facility</li> <li>Houses classrooms, Health & Exercise Science faculty offices</li> <li>Aerobic, weight, and recreational classes</li> <li>Facilities: </li> <ul><li>eight-lane & six-lane swimming pools </li> <li>a three-lane indoor running track</li> <li>a three court multi-sport gymnasium</li> <li>four racquetball courts</li> <li>a group exercise studio</li> <li>a 36 bike cycling room. </li> <li>fitness and weight room</li><li>complete locker room with showers</li><li>a café</ul></ul>").openPopup();
    
    L.marker([39.7117, -75.1195]).addTo(mymap)
        .bindPopup("<b>James Hall</b><ul> <li> Home to the College of Education </li><li>Named after Rowan University's 5th president. Dr. Herman D.</li><li>Features:</li><ul><li> Classrooms and faculty offices </li><li> Distance-learning facilities</li><li>The Early Childhood Demonstration Center </li><li>A variety of laboratory space and outreach centers </li></ul><li> Departments:</li><ul><li> Educational Services & Leadership</li><li> Interdisciplinary & Inclusive Education</li><li>Language, Literacy, & Sociocultural Education </li><li> Science, Technology, Engineering </li><li> Arts </li><li> Math Education </li><li>Health and Exercise Science</li></ul></ul>").openPopup();

    L.marker([39.7107, -75.1202]).addTo(mymap)
        .bindPopup("<b>Robinson Hall</b><ul><li> Located in the center of campus </li><li> One of the largest classroom buildings on campus </li><li> The building consists of classrooms and seminar rooms </li><li> Houses a small cafe stand and seating on the 1st floor </li><li> Departments:</li><ul><li> Computer Science</li><li> School of Health Professions</li><li>History </li><li>Mathematics </li><li> Political Science </li><li> Economics</li><li> Psychology</li><li> Geography </li><li> Planning & Sustainability </li><li> Geology </li></ul></ul>").openPopup();
    
    L.marker([39.7112, -75.1215]).addTo(mymap)
        .bindPopup("<b>Wilson Hall</b><ul><li> Home to the College of Performing Arts </li><li> Contains:</li><ul><li> The Dean of the College of Fine & Performing Arts </li><li> 2 large rehearsal rooms </li><li> Boyd Recital Hall </li><li> Practice rooms </li><li> Classrooms </li><li> Student lounges</li><li> A music library </li><li> Faculty offices </li><li> The concert box office </li><li> W. Clarke Pfleeger Hall - a 1,000 seat auditorium</li></ul> <li>Departments:</li><ul><li> Music Theatre</li><li> Dance</li><ul></ul>").openPopup();
    
    L.marker([39.7123, -75.1221]).addTo(mymap)
        .bindPopup("<b>Rowan Hall</b><ul><li> Home to the Henry M. Rowan College of Engineering </li><li> 95,000 sq. ft.</li><li> Features:</li><ul><li> Offices </li><li> Classrooms </li><li> Laboratories </li><li> 115-seat Betty Rowan Auditorium </li></ul><li> Departments: </li><ul><li> Biomedical Engineering </li><li> Chemical Engineering</li><li> Civil and Environmental Engineering </li><li> Electrical and Computer Engineering </li><li> Experiential Engineering </li><li> Mechanical Engineering </li></ul></ul>").openPopup();
    
    L.marker([39.7099, -75.1217]).addTo(mymap)
        .bindPopup("<b>Wetsby Hall</b><ul><li>The center of arts and social engagement</li><li> Contains:</li><ul><li> Computer labs </li><li> Classrooms </li><li> A lecture hall for 110 students </li><li> Exhibition galleries </li><li> Faculty offices </li><li> Art Studios</li><ul><li> Ceramics</li><li> Sculpture </li><li> Jewelry/metals </li><li> Painting </li><li> Printmaking </li><li> Photography </li></ul></ul><li> Departments:</li><ul><li>Art </li></ul></ul>").openPopup();
    
    L.marker([39.7100, -75.1225]).addTo(mymap)
        .bindPopup("<b>Business Hall</b><ul><li> Home to the Rohrer College of Business </li><li>$63.2 million building opened in 2017 </li><li> Houses RCB's trading room with its ticker tracking the stock market in real time </li><li> The Center for Professional Development </li><li>Includes: </li><ul><li>14 classrooms </li><li> 7 conference rooms </li><li> 10 specialty spaces </li><li> 15 administrative offices </li><li> 70 faculty offices </li></ul><li> Departments:  </li><ul><li> Accounting </li><li> Finance </li><li> Management </li><li> Entrepreneurship</li><li> Marketing </li><li> Business Information Systems </li></ul></ul>").openPopup();
    
    L.marker([39.7087, -75.1178]).addTo(mymap)
        .bindPopup("<b>Chamberland Student Center</b><ul><li>Offers:</li><ul><li>An information Desk that provides information about campus </li><li> The Game Room</li><li> Event Services</li><li>14 on-campus dining options </li></ul></ul>").openPopup();
    
    L.marker([39.7097, -75.1175]).addTo(mymap)
        .bindPopup("<b>Mimosa Hall</b><ul><li> Located in the center of campus </li><li> Houses 315 students </li><li> Rooms are arranged by suites</li><li>Each suite contains two to three double bedrooms and a bathroom</li><li> Each suite shares a common bathroom </li><li> Features laundry facilities on each floor </li><li> Computer lab on 1st floor</li></ul>").openPopup();
    
    L.marker([39.7098, -75.1162]).addTo(mymap)
        .bindPopup("<b>Willow Hall</b><ul><li> Houses up to 203 residents on three floors </li><li> Students live in suites and share restroom facilities </li><li> Suites accommodate five to 16 students who share a lounge and common bathroom </li><li> The complex also features a laundry room.</li></ul>").openPopup();
    
    L.marker([39.7103, -75.1153]).addTo(mymap)
        .bindPopup("<b>Edgewood Park Apartments</b><ul><li> Consist of four separate buildings that are identical in structure </li><li> Each building has three floors each with 24 individual units and house up to 384 students </li><li> Apartments feature two bedrooms, a living room, dining room, kitchen, and bathroom </li><li> The apartments are furnished and air-conditioned </li><li> The individual apartments are designated same gender units and each building is co-ed</li></ul>").openPopup();
    
    L.marker([39.7097, -75.1151]).addTo(mymap)
        .bindPopup("<b>Magnolia Hall</b><ul><li> Houses up to 201 residents on three floors </li><li> Students live in suites and share restroom facilities </li><li> Suites accommodate five to 16 students who share a lounge and common bathroom </li><li> The complex also features a laundry room.</li></ul>").openPopup();
    
    L.marker([39.7097, -75.1138]).addTo(mymap)
        .bindPopup("<b>Chestnut Hall</b><ul><li>Students live in suites and share restroom facilities </li><li> Suites accommodate five to 16 students who share a lounge and common bathroom </li><li> The complex also features a laundry room.</li></ul>").openPopup();
    
    L.marker([39.7077, -75.1120]).addTo(mymap)
        .bindPopup("<b>Holly Pointe Commons</b><ul><li> This building houses 1,415 students </li><li>7 floors at its' highest and 4 floors at its' lowest </li><li> In addition to residential housing this building contains a convenience store, a Starbucks, and a Dining Hall </li><li>Freshman and Sophomore aged students in mind </li><li> Bathrooms are floor-style and cleaned by Rowan University Staff </li><li> rooms are in single or double occupancy </li></ul>").openPopup();

    L.marker([39.7070, -75.1207]).addTo(mymap)
        .bindPopup("<b>Bunce Hall</b><ul><li> The first building on campus </li><li> Bunce Hall was built in 1923 </li><li> This building features classroom and office space as well as the Tohill Auditorium </li><li> Departments:</li><ul><li> English </li><li> Foreign Languages and Literatures </li><li> Philosophy </li><li> Religion</li></ul></ul>").openPopup();

    L.marker([39.7079, -75.1216]).addTo(mymap)
        .bindPopup("<b>Bozorth Hall</b><ul><li> Originally built as a campus demonstration elementary school </li><li> Houses:</li><ul><li> The College of Communication & Creative Arts offices </li><li> Rowan Radio </li><li> Rowan TV </li><li> A distance learning classroom </li><li> Film-editing facilities </li><li> A computer-equipped journalism newsroom </li><li> An advertising/PR client suite </li><li> A layout room </li><li> And a computer-equipped writing laboratory </li></ul><li> Departments:</li><ul><li> Radio/TV/Film</li></ul></ul>").openPopup();

    L.marker([39.7089, -75.1212]).addTo(mymap)
        .bindPopup("<b>Hawthorn Hall</b><ul><li> Originally built as a residence hall </li><li> Houses classrooms and faculty offices for the College of Communication & Creative Arts </li><li> 27 offices </li><li> 4 classrooms </li><li> 2  conference rooms.</li></ul>").openPopup();

    L.marker([39.7078, -75.1196]).addTo(mymap)
        .bindPopup("<b>Memorial Hall</b><ul><li> Houses several dance studios where dance rehearsals and classes take place </li><li> Houses information (computer) resources, the Help Desk, Web Services, and the Duplicating Center</ul>").openPopup();

    L.marker([39.7072, -75.1193]).addTo(mymap)
        .bindPopup("<b>Laurel Hall</b><ul><li> One the University's first residence halls </li><li> Houses up to 59 students </li><li> Each suite houses eight to 14 students who share a common hallway and community bathroom</li></ul>").openPopup();

    L.marker([39.7069, -75.1186]).addTo(mymap)
        .bindPopup("<b>Oak Hall</b><ul><li> One the University's first residence halls </li><li> Houses up to 59 students </li><li> Each suite houses eight to 14 students who share a common hallway and community bathroom</li></ul>").openPopup();

    L.marker([39.7054, -75.1187]).addTo(mymap)
        .bindPopup("<b>600 Whitney Avenue</b><ul><li> Houses the Dean's office for the College of Earth and Environment as well as the Fossil Park Office</li></ul>").openPopup();

    L.marker([39.7089, -75.1220]).addTo(mymap)
        .bindPopup("<b>Town Houses</b><ul><li> The 113-unit townhouse complex houses up to 465 students living in single occupancy rooms in four and six-bedroom configurations </li><li> Each townhouse features a living room, kitchen and bathroom </li><li> The complex has a parking garage, community center and laundry facilities</li></ul>").openPopup();

    L.marker([39.7071, -75.1164]).addTo(mymap)
        .bindPopup("<b>Evergreen Hall</b><ul><li> A three story residence hall </li><li> Accommodates 204 students housed in two bedroom suites that each include their own bathroom which each suite is responsible for cleaning </li><li> Laundry facilities are on each floor as well as study rooms and a lounge area featured on the first floor</li></ul>").openPopup();

    L.marker([39.7057, -75.1134]).addTo(mymap)
        .bindPopup("<b>Enterprise Center</b><ul><li> A mixed-use facility </li><li> Houses the College of Graduate and Continuing Education </li><li> Includes four floors of classrooms, lecture halls, a nursing experimental room, and administrative offices </li><li> Features 9,600 square feet of first-floor retail space and a 1,194-space, multi-level parking garage </li><li> Departments: </li><ul><li> Nursing </li><li> Global Learning & Partnerships </li></ul>").openPopup();

    L.marker([39.7068, -75.1147]).addTo(mymap)
        .bindPopup("<b>Whitney Center</b><ul><li> A mixed-use facility located on Rowan Boulevard </li><li> Includes living space and administrative space </li><li> Houses up to 278 residents in single occupancy bedrooms in apartments housing one to four students </li><li> Each apartment includes a kitchen, breakfast nook, living room and bathroom, as well as access to laundry facilities and recreational spaces </li><li> Home to the Bantivoglio Honors Program </li><li> Contains offices a lounge and classroom space </li></ul>").openPopup();

    L.marker([39.7061, -75.1102]).addTo(mymap)
        .bindPopup("<b>International House</b><ul><li> Built in 1855 as a private residence </li><li> This stately home in the town of Glassboro serves as living quarters for international students and scholars</li></ul>").openPopup();
        
    L.marker([39.7062, -75.1120]).addTo(mymap)
        .bindPopup("<b>Rowan Boulevard Apartments</b><ul><li> The Rowan Boulevard apartments house up to 884 students in four-bedroom (single occupancy) apartments that include two bathrooms, a kitchen, breakfast nook and living room area</li><li> The complex also contains exercise and weight rooms, meeting rooms, laundry facilities and a Public Safety satellite office</li></ul>").openPopup();
    
    L.marker([39.7044, -75.1136]).addTo(mymap)
        .bindPopup("<b>230 Victoria st.</b><ul><li> Student housing on Victoria Street, 6 floors of housing holding 413 student beds</li><li> Each suite in this building consists of a single or double bedrooms, with up to 8 bedrooms per housing suite</li><li> Each suite shares a kitchen, a bathroom and a living area </li><li> The building also houses a recreation center, a parking garage, retail space, and classrooms and offices </li><li> Departments: </li><ul><li> Writing </li><li> Arts </li><li> Communication Studies</li></ul></ul>").openPopup();

    L.marker([39.7047, -75.1140]).addTo(mymap)
        .bindPopup("<b>223 West High st.</b><ul><li> A four story building with 144 student beds for upper classman housing </li><li> This building is suite style with each apartment providing bedrooms, a kitchen, bathrooms, and a living area.</li></ul>").openPopup();

    L.marker([39.7038, -75.1150]).addTo(mymap)
        .bindPopup("<b>301 West High st.</b><ul><li> The three story building features the new Rowan University art gallery </li><li> It features classrooms, faculty offices, computer labs and student lounge spaces. </li><li> Departments: </li><ul><li> Public Relations </li><li> Advertising</li></ul><li> </li></ul>").openPopup();

    L.marker([39.7048, -75.1127]).addTo(mymap)
        .bindPopup("<b>114 Victoria st.</b><ul><li> Offers housing for 468 students in 90 apartments </li><li> The building is located on Victoria Street across from Barnes & Noble, just steps away from shops, restaurants and the Glassboro Town Square</li></ul>").openPopup();

    var popup = L.popup();

    

</script>



</body>
</html>

